includes:
    - phar://phpstan.phar/conf/config.level5.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon

parameters:
    paths:
        - lib/
        - tests/
