includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/thecodingmachine-rules.neon

parameters:
    paths:
        - lib/
        - tests/
    ignoreErrors:
        - '#Parameter .+ given#'
        - '#Method .+ has no return typehint specified#'
        - '#Method .+ has parameter .+ with no value type specified in iterable type array#'
