<phpunit
    bootstrap="./vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    verbose="true">

    <testsuite name="SlamCsFixer">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
        </whitelist>
    </filter>
</phpunit>
